/* 벡그라운드 그라데이션 깔아두기  */
.bg-check {
  background: linear-gradient(
    0deg,
    rgb(23, 132, 248) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100vw;
  height: 90vh;
}

/* 
가상 요소 선택자 before 는 웹 표준 콜론 2개를 붙인다. 

가상의 요소를 만들어 
  내부 앞에 내용(content)를 삽입 하면 before 
  내부 뒤에 내용(content)를 삽입 하면 after 

  가상의 인라인 요소이다. (그래서 한줄에 앞이나 뒤에 붙어서 출력됨)

예시) .box::before {
  content:"" 안에 출력될 내용
    실제로 요소를 삽입해야 되는 ::before, ::after 선택자는 그 요소의 내용이 무엇인지 무조건 명시해줘야 하므로 속성 content:"" 를 무조건 비워두는한이 있더라도 명시해야 한다. 세트로 따라온다. 
*/

/* :hover */
.box2 {
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  transition: 0.5s;
}
.box2:hover {
  width: 100vw;
  height: 100px;
  background-color: rgb(247, 216, 158);
}

/* box for '가 상 요 소 선 택 자 ::before ::after */

.box {
  width: 100px;
  height: 100px;
  background-color: orangered;
}
/* content "";는 유지하면서 inline 속성인 가상요소선택자에다가 가로세로 값이 적용 될 수 있게 블록요소로 나타내기.  d:block 속성을 넣는다! */
.box::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  display: block;
}
