// _____max-width-575px_xs_Phone-Vertical

@media (max-width: 575px) {
  .Comment {
    position: relative;

    // height: 100px;
    padding: 100px 0;

    p:nth-child(1) {
      text-align: center;
      // vscode 자동완성 기능 꺼야 적용될 것으로 보임. 그 전까지 <br>로 대체 왜???
      white-space: pre-wrap;

      font-size: 19px;
      font-weight: 500;
      line-height: 1.5;
      color: #191f28;
    }

    p:nth-child(2) {
      display: none;
    }
  }
}

@media (min-width: 576px) {
  .Comment {
    // height: 100px;
    padding: 200px 0;

    p:nth-child(2) {
      text-align: center;
      // vscode 자동완성 기능 꺼야 적용될 것으로 보임. 그 전까지 <br>로 대체 왜???
      white-space: pre-wrap;

      font-size: 23px;
      font-weight: 600;
      line-height: 1.7;
      color: #191f28;
    }
    p:nth-child(1) {
      display: none;
    }
  }
}

/* 
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: #191f28;
    text-align: center;
    margin-bottom: 50px;
 */
