@media (max-width: 575px) {
  .homesobi {
    h1,
    h2,
    p {
      transition: 0.1s;
    }

    padding: 100px 0px;

    position: relative;
    max-width: 991px;

    // 홈 소비
    h1 {
      position: relative;
      top: 2%;
      left: 2%;
      font-size: 18px;

      color: #3182f6;
      font-weight: 700;

      margin: 0px 0px 10px 10px;
    }
    h2 {
      position: relative;
      top: 2%;
      left: 2%;

      color: white;

      margin: 0px 0px 10px 10px;
    }

    // 중단 이미지 2장 부분
    // scss 에서는 public 상대경로 다 짜야함
    .phoneUiOne {
      height: 500px;
      width: 300px;
      position: relative;
      display: inline-block;

      img {
        display: block;

        &:first-child {
          width: 71.4%;
          position: relative;
          top: 4%;
          left: 17%;
          // margin: 0 auto;
        }
        &:nth-child(2) {
          width: 125%;

          position: relative;
          top: -102%;
          left: -10%;
          // z-index: 0;
        }
      }
    }

    .phoneUiTwo {
      left: 28%;
      top: -3%;

      height: 700px;
      width: 300px;
      position: absolute;
      display: inline-block;

      img {
        display: block;

        &:first-child {
          width: 71.3%;
          position: relative;
          top: 4%;
          left: 17%;
          // margin: 0 auto;
        }
        &:nth-child(2) {
          width: 125%;

          position: relative;
          top: -70.7%;
          left: -10%;
          // z-index: 0;
        }
      }
    }

    // 하단부분 : 토스에계좌와카드를연결해보세요~
    p {
      position: relative;
      top: 2%;
      left: 2%;
      color: rgb(0, 0, 0);
      font-size: 17px;

      margin: 0px 0px 10px 10px;
    }
  }
}

@media (min-width: 576px) {
  .homesobi {
    max-width: 991px;
    margin: 0 auto;
  }

  .homesobi {
    h1,
    h2,
    p {
      transition: 0.1s;
    }

    padding: 100px 0px;

    position: relative;
    max-width: 991px;

    // 홈 소비
    h1 {
      font-size: 28px;

      position: relative;
      top: 2%;
      left: 2%;

      color: #3182f6;
      font-weight: 700;

      margin: 0px 0px 10px 10px;
    }
    h2 {
      z-index: 1;

      font-size: 50px;
      position: relative;
      top: 2%;
      left: 2%;

      color: rgb(0, 0, 0);

      margin: 0px 0px 10px 10px;
    }

    // 중단 이미지 2장 부분
    // scss 에서는 public 상대경로 다 짜야함
    .phoneUiOne {
      left: -12%;

      z-index: 2;

      height: 936px;
      width: 600px;
      position: absolute;
      display: inline-block;

      img {
        display: block;

        &:first-child {
          width: 57%;
          position: relative;
          top: 7%;
          left: 20%;
        }
        &:nth-child(2) {
          height: 100%;
          position: relative;
          top: -83%;
          left: -1.5%;
        }
      }
    }

    .phoneUi {
      height: 936px;
      width: 27vw;
    }

    .phoneUiTwo {
      left: 100%;
      top: 0%;
      height: 100%;
      width: 600px;
      position: absolute;
      display: inline-block;
      img {
        display: block;

        &:first-child {
          width: 57.3%;
          position: relative;
          top: 7%;
          left: 20%;
        }
        &:nth-child(2) {
          height: 100%;
          position: relative;
          top: -83.2%;
          left: -1.5%;
        }
      }
    }

    // 하단부분 : 토스에계좌와카드를연결해보세요~
    p {
      z-index: 2;
      position: absolute;
      top: 72%;
      left: 40%;
      color: #000000;
      font-size: 23px;
      font-weight: 500;

      margin: 0px 0px 10px 10px;
    }
  }
}
