// _____max-width-575px_xs_Phone-Vertical

@media (max-width: 575px) {
  .IntroImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Intro .IntroImg img {
    width: 575px;
    padding: 70px 0px 0px 0px;
  }
}

@media (min-width: 576px) {
  .Intro img {
    width: 100%;
    padding: 70px 0px 0px 0px;
  }
}
