.container-background {
  background: linear-gradient(
    0deg,
    rgb(23, 132, 248) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;

  // height:85->100vh 했더니 가로 스크롤이 발생하는 이유 왜??? linear-gradient가 설정된 배경이 전체 너비(100vw)보다 큰 경우입니다. 선형 그라데이션의 끝 부분이 너비를 초과하면 스크롤이 발생할 수 있습니다.해결 방법 중 하나는 overflow-x: hidden;을 사용하여 가로 스크롤을 숨기는 것입니다. 다음과 같이 스타일을 추가해보세요:이렇게 하면 가로 스크롤이 생기지 않도록 숨겨질 것입니다.
  overflow-x: hidden;
}
