// Navbar575.scss가 common.css를 이긴다. 왜???

.header {
  //상단패딩: 상 우 하 좌 시계방향
  padding: 22px 17px 21px 17px;
  h1 img {
    display: block;
    margin-top: 0px;
  }
}

// _____max-width-575px_xs_Phone-Vertical

@media (max-width: 575px) {
  .header {
    justify-content: space-between;
  }
  // inline로고를 block으로 한다음 마진으로 레이아웃 정리

  // 버튼에 color속성이름에 데이터값 백 번 줘봐야 컨텐츠 안쓰면 이렇게 고생
  //top-26% top-17% 대신 부모 요소 내에서 수평 중앙 정렬 margin : 0 auto 는 어떨까?왜???

  .button-app-download {
    position: relative;
    top: -26%;

    margin-right: 18px;
    font-size: 11.25px;
    color: white;
    border-radius: 15px;
    width: 76px;
    height: 30px;
    background-color: #3182f6;
    // 왜 나타날때 지저분하게 나타날까? 왜???
    // transition: 3s;
  }
  .button-hamburger {
    position: relative;
    top: -17%;
  }

  .when-drop-menus {
    height: 0;
    overflow: hidden;

    left: 0;

    width: 100%;
    background-color: white;

    top: 100%;
    position: absolute;

    .navbar-menu {
      display: block;
    }
  }
}
// 575부터는 장애인을 위해 display : none 대신 opacity 투명도0 || visibility hidden을 주자. 여기서는 각 반응형 마다 나타나는 메뉴가 여전히 있고, display:none으로 부서지는 레이아웃을 방지하자.

// ---------------------------------------------------------------------------------

@media (min-width: 576px) {
  .header {
    justify-content: space-between;

    .navbar-menu {
      display: flex;
      margin-left: -1px;
      li a {
        padding: 10px;
        font-size: 13px;
        // vertical-align: bottom;
        font-weight: 400;
      }

      // flex-grow: 1;
    }
  }

  .when-drop-menus {
    display: flex;

    .navbar-menu,
    .navbar-lang {
      flex-grow: 1;
    }

    .navbar-lang {
      span {
        font-size: 15px;
        a {
          display: inline-block;
          padding: 0px 9px 0px 9px;

          font-weight: 400;
        }
      }
    }
  }

  .drop-menus {
    display: none;
  }
  // drop-menus 의 2개의 버튼 스타일 적용
  .button-app-download {
    // 왜??? opacity가 맞을까 visibility가 맞을까
    // opacity: 0;
    // visibility: hidden;
    display: none;
    // transition: 0.1s; 하면 왜 나타날때 지저분하게 나타날까? 왜???
  }
  .button-hamburger {
    // // visibility: hidden;
    display: none;
  }
}
