// _____max-width-575px_xs_Phone-Vertical

@media (max-width: 575px) {
  .Topbanner {
    background: linear-gradient(to right, #adc5e9, #edf5fe);
    width: 100vw;
    height: 25px;
    transition: 0.1s;
  }
}

@media (min-width: 576px) {
  .Topbanner {
    background: linear-gradient(to right, #edf5fe, #adc5e9);
    width: 100vw;
    height: 25px;
    transition: 0.01s;
  }
}

span {
  font-size: 11px;
  color: white;
}

span > span {
  font-size: 13px;
  color: #006aff;

  font-weight: bold;
}

.manggom-face:hover {
  color: #ffc35b;
  transition: 0.25s;
}
